<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- IP or Hostname of your asterisk box (ensure manager is enabled) -->
    <add key="astHost" value=""/>
    <add key="astPort" value="5038"/>
    <!-- Manager username for this user to connect on -->
    <add key="astuser" value=""/>
    <add key="astPass" value=""/>

    <!-- The extension number assigned to this user -->
    <add key="astExten" value="100"/>
    <!-- The peer type, i.e. SIP, IAX -->
    <add key="astPeerType" value="SIP"/>
    <!-- The peer id, this could be different to the extension number -->
    <add key="astPeerID" value="100"/>

    <!-- Directory Information-->
    <!-- Path for local directory, leave blank to use local path -->
    <add key="myDirectoryPath" value="local.xml"/>
    <!-- URL to shared directory XML -->
    <add key="sharedDirectoryPath" value="http://www.mywebsite.co.uk/company.xml"/>
    <!-- Type of shared directory XML (Current Options: CiscoDirectory, AstTray) -->
    <add key="sharedDirectoryType" value="CiscoDirectory"/>
    
    <!-- Screen Popping -->
    <!--  Arguments: 
            {callerid-number}    CallerID Number of the inbound call
            {callerid-name}      CallerID Name of the inbound call
    -->
    <add key="ScreenPopPath" value="http://crm.mywebste.co.uk/pop?clid={callerid-number}"></add>
  </appSettings>
</configuration>